.svg-map-container {
  display: inline-block;
  border: 1px solid lightgray;
  position: relative;
  width: 80%;
  margin-left: 10px;
  vertical-align: top;
  overflow: hidden;
}

.svg-map-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.svg-map-content text {
  font-family: "Hammersmith One", sans-serif;
  font-size: 14px;
  cursor: pointer;
  font-weight: normal;
}

.title {
  font-family: "Roboto Mono", sans-serif;
  font-size: 18px;
  cursor: pointer;
  font-weight: normal;
}
