html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

text {
  font-family: "Hammersmith One", sans-serif;
  font-size: 14px;
  cursor: pointer;
  font-weight: normal;
}

.svg-map-container {
  display: inline-block;
  border: 1px solid lightgray;
  position: relative;
  width: 80%;
  padding-bottom: 32%;
  vertical-align: top;
  overflow: hidden;
}

.svg-map-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  font-family: "Roboto Mono", sans-serif;
  font-size: 18px;
  cursor: pointer;
  font-weight: normal;
}

:focus {
  outline: 0;
}
